.donationPageWrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    font-family: "DM Sans", sans-serif;
    width: 100%;
}
.logoWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 50px;
    justify-content: space-between;
}

.toHome {
    width: 150px;
    height: auto;
}
.logo2 {
    width: 100%;
    height: 100%;
}
.title {
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
}
.middleSectionWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.middleSection {
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.projImage {
    width: 60%;
}

.donationSection {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    width: full;
    padding-left: 24px;
}
.donationBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 3rem 0rem;
}

.donationContainer {
    justify-content: left;
}

.donationBar {
    background-color: #e0e0e0; /* Light gray background */
    border-radius: 25px; /* Rounded corners */
    height: 25px;
    position: relative;
    width: 100%; /* Full width of the container */
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.donationBarFill {
    background-color: #4caf50; /* Green color */
    height: 100%;
    width: 0%; /* Start with 0% */
    transition: width 0.5s ease-in-out; /* Smooth animation for progress */
}

.donationAmount {
    justify-content: left;
    text-align: left;
    font-size: 4rem;
    color: #13adb7;
    font-weight: 700;
    letter-spacing: 2px;
    width: 100%;
}

.donateButton {
    border: 1px solid #13adb7;
    color: #13adb7;
    background-color: #ffffff;
    font-size: 1.25rem !important;
    padding: 12px 16px 12px 16px !important;
    text-decoration: none;
    text-align: center;
}

.amountRaised {
    text-align: left;
}

.donationInput {
    width: 200px;
    /* height: 90%; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.25rem;
    /* margin: 1rem 0; */
    border: 1px solid #ddd;
    border-radius: 5px;
}
.buttonOptions {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    gap: 1rem;
    width: 100%;
    padding-top: 10px;
}
.uploadButton {
    border: 1px solid #13adb7;
    color: #13adb7;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
.uploadButton:hover {
    background-color: #13adb7;
    color: #ffffff;
    cursor: pointer;
}

.withdrawButton {
    border: 1px solid #13adb7;
    color: #13adb7;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
.withdrawButton:hover {
    background-color: #13adb7;
    color: #ffffff;
    cursor: pointer;
}
.refundButton {
    border: 1px solid #13adb7;
    color: #13adb7;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
.refundButton:hover {
    background-color: #13adb7;
    color: #ffffff;
    cursor: pointer;
}

.projectText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.callToAction {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 3rem;
}
.backgroundInfo,
.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 70%;
    padding: 20px 20px;
}
.backgroundHeading,
.projectHeading {
    font-weight: bold;
    padding: 5px 0px;
    font-size: 1.75rem;
}

.backgroundSubheading,
.projectSubheading {
    font-size: 1.25rem;
}
