.ProjectOverviewWrapper {
    background-color: #ffffff;
    width: 30%;
    text-align: left;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.projectOverview {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the children horizontally in the flex container */
    justify-content: space-between; /* Adjusts spacing between children vertically */
    height: 100%;
}
.projectOverviewText {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projectImage {
    width: 100%;
    height: auto;
}
.projectDate {
    font-size: 1.5rem;
    color: #999ca9;
}
.projectTitle {
    font-size: 2rem;
    color: #0f111d;
}
.projectDescription {
    font-size: 1.5rem;
    color: #7b7d8c;
}
.donateButton {
    margin-bottom: 2%;
    border: 1px solid #13adb7;
    color: #13adb7;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 2rem;
    width: 80%;
}
.donateButton:hover {
    cursor: pointer;
    background-color: #13adb7;
    color: white;
}
