.ProjectOverviewWrapper {
    background-color: #ffffff;
    width: 25%;
    text-align: left;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e0e0e1;
    padding: 12px 12px 12px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.projectOverview {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjusts spacing between children vertically */
    height: 100%;

    gap: 1rem;
}
.projectOverviewText {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    overflow: hidden;
}
.projectImage {
    width: 100%;
    height: auto;
}
.projectDate {
    font-size: 1rem;
    color: #999ca9;
    margin-bottom: 8px;
}
.projectTitle {
    font-size: 1.75rem;
    color: #000000;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 2px;
}
.projectDescription {
    font-size: 1rem;
    color: #7b7d8c;
}
.donateButton {
    border: 1px solid #13adb7;
    color: #13adb7;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}
.donateButton:hover {
    cursor: pointer;
    background-color: #13adb7;
    color: white;
}
